@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  background-color: #FFFFFF;
  color: #000000;
}

.header-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-list {
  width: 310px;
  margin: 0;
  padding: 0;
}

.page-header-logo {
  width: 138px;
  margin: 0;
  padding: 0;
}

.page-header-menu {
  width: 250px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.page-header-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.header-button-link {
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
}

.main-container {
  flex-grow: 1;
}

.logo-welcom-sedona {
  padding-bottom: 82px;
  padding-left: 371px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  Height: 1535px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-photo-1,
.advantages-photo-2 {
  display: flex;
  width: 1200px;
  height: 384px;
}

.advantages-photo-2 {
  flex-direction: row-reverse;
}

.advantages-title-index {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.img-housing::before {
  position: absolute;
  content: "";
  z-index: 1;
  background-image: url(../imges/svg/advantages/housing.svg);
  background-size: 75px 72px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
}

.img-eating::before {
  position: absolute;
  content: "";
  z-index: 1;
  background-image: url(../imges/svg/advantages/eating.svg);
  background-size: 74px 70px;
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
}

.img-souvenir::before {
  position: absolute;
  content: "";
  z-index: 1;
  background-image: url(../imges/svg/advantages/souvenir.svg);
  background-size: 64px 76px;
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
}

.advantages-number,
.advantages-description {
  font-weight: 400;
  text-align: center;
}

.advantages-number {
  text-transform: uppercase;
}

.search-title,
.newsletter-tiile {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-lead,
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.search-buttom {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.social-network-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.img-welcome {
  background-image: url("../imges/jpeg/background-main-sedona1.jpg");
  background-size: 1200px 485px;
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  background-color: #81B3D3;
}

.newsletter {
  background-image: url("../imges/jpeg/background-main.jpg");
  background-size: 1200px 411px;
  width: 1200px;
  height: 411px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.background-catalog {
  background-image: url("../imges/jpeg/catalog-background.jpg");
  background-size: 1200px 408px;
  background-repeat: no-repeat;
  background-color: #81B3D3;
  color:#FFFFFF;
}

.advantages-list li:nth-child(1),
.advantages-list li:nth-child(5) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-list li:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  Width: 528px;
  padding-top: 35px;
  padding-left: 71px;
  margin-top: 0;
  margin-bottom: 5px;
}

.crumbs-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding-left: 71px;
  margin-top: 0;
  margin-bottom: 45px;
}

.crumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  padding-top: 45px;
  padding-right: 71px;
  padding-bottom: 83px;
  padding-left: 71px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input-checkbox,
.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-products-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.catalog-products-reset,
.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 71px;
  padding-left: 71px;
}

.catalog-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 350px;
}

.sorting-list {
  margin: 0;
  padding: 0;
}

.sorting-display-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-list {
  margin: 0;
  padding: 0;
}

.hotel-cart-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-cart-link {
  color: #000000;
  text-decoration: none;
}

.hotel-cart-meaning,
.hotel-cart-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}

.hotel-details-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-bottom-favourites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  text-transform: uppercase;
}

.hotel-cart-rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

.pagination-show-more {
  width: 625px;
  height: 55px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 288px;
  margin-left: 288px;
}

.pagination-show-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding-top: 31px;
  padding-right: 71px;
  padding-bottom: 89px;
  padding-left: 71px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px;
  margin-right: 8px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-of-types {
  margin-left: auto;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-tiile {
  width: 720px;
  margin: 0;
}

.newsletter-text {
  width: 720px;
}

.newsletter-form {
  width: 800px;
  padding-bottom: 138px;
}

.number-of-types-title,
.select-control-number {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}
