@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;

  background-color: #f2f2f2;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  position: relative;
  display: flex;
  padding-left: 60px;
  padding-right: 71px;
}

.navigation {
  padding-top: 12px;
  padding-bottom: 15px;
  margin-right: 468px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-right: 9px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 6px 12px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #000000;
  outline: none;
}

.navigation-link:hover {
  color: #756257;
  cursor: pointer;
}

.navigation-link:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: -16px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  width: 138px;
  height: 70px;
}

.header-logo-link {
  z-index: 1;
}

.page-header-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 120px;
  margin-right: 24px;
  margin-left: auto;
}

.page-header-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  outline: none;
}

.favourites-number {
  position: absolute;
  left: 22px;
  top: 0;
  min-width: 19px;
  min-height: 19px;

  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.page-header-link:hover {
  fill: #756257;
  cursor: pointer;
}

.page-header-link:focus {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.page-header-link:active {
  color: #756257;
  opacity: 0.3;
}

.header-button-link {
  display: block;
  box-sizing: border-box;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 8px 34px;
  width: 160px;
  min-height: 37px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
  border-radius: 4px;
  outline: none;
}

.header-button-link:hover {
  background-color: #615048;
  cursor: pointer;
}

.header-button-link:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
  border-radius: 4px;
}

.header-button-link:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  flex-grow: 1;
}

.logo-welcom-sedona {
  display: block;
  padding-top: 51px;
  margin: auto;
}

.main-title {
  width: 720px;
  margin-top: 62px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title {
  width: 720px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;

  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-photo {
  width: 800px;
  min-height: 384px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-photo-1,
.advantages-photo-2 {
  display: flex;
  width: 1200px;
}

.advantages-photo-2 {
  flex-direction: row-reverse;
}

.advantages-container {
  width: 400px;
  padding-top: 98px;
  padding-bottom: 68px;
}

.advantages-container-desc {
  position: relative;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 78px;
}

.advantages-title-index {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 28px;
}

.advantages-number,
.advantages-desc {
  margin: 0;
  padding: 0;

  font-weight: 400;
  text-align: center;
}

.advantages-number {
  display: block;
  width: 250px;
  margin-top: 0;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.advantages-text {
  width: 220px;
  margin: 0 auto;
  line-height: 21px;
}

.advantages-title-desc {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.advantages-text-desc,
.advantages-text-housing {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 11px;
}

.advantages-text-housing {
  width: 180px;
}

.advantages-text-detail {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 41px;
  line-height: 20px;
}

.img-housing::before {
  position: absolute;
  content: "";
  top: 89px;
  left: 163px;
  z-index: 1;
  width: 75px;
  height: 72px;

  background-image: url("../imges/svg/advantages/housing.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.img-eating::before {
  position: absolute;
  content: "";
  top: 91px;
  left: 163px;
  z-index: 1;
  width: 74px;
  height: 70px;

  background-image: url("../imges/svg/advantages/eating.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.img-souvenir::before {
  position: absolute;
  content: "";
  top: 85px;
  left: 168px;
  z-index: 1;
  width: 64px;
  height: 76px;

  background-image: url("../imges/svg/advantages/souvenir.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
}

.search-title {
  width: 720px;
  padding-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
}

.search-title,
.newsletter-tiile {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-lead {
  width: 720px;
  margin-top: 0;
  margin-bottom: 59px;
  margin-left: auto;
  margin-right: auto;
}

.search-lead,
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.search-buttom-link {
  display: block;
  box-sizing: border-box;
  width: 575px;
  min-height: 60px;
  padding-top: 13px;
  padding-bottom: 11px;
  margin-top: 0;
  margin-bottom: 91px;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
  border-radius: 10px;
  outline: none;
}

.search-buttom-link:hover {
  background-color: #615048;
  cursor: pointer;
}

.search-buttom-link:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
  border-radius: 4px;
}

.search-buttom-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.field {
  box-sizing: border-box;
  margin: 0;
  padding: 12px 20px;
  width: 600px;
  height: 60px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  border-radius: 10px 0 0 10px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

.field:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  color: #000000;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-button {
  width: 200px;
  min-height: 60px;
  padding: 12px 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.newsletter-button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.newsletter-button:focus {
  outline: 3px solid #756257;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 61px;
  padding-right: 51px;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin-top: 40px;
  margin-bottom: 28px;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.social-network-item {
  margin-right: 7px;
  margin-bottom: 7px;
}

.social-network-item:nth-child(3n) {
  margin-right: 0;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  outline: none;
}

.social-network-icon {
  fill: #83b3d3;
}

.social-network-link:hover .social-network-icon {
  fill: #68a2ca;
  cursor: pointer;
}

.social-network-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.social-network-link:focus .social-network-icon {
  fill: #68a2ca;
}

.social-network-link:active .social-network-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.footer-phone {
  display: block;
  width: 333px;
  padding: 15px;
  margin-left: 0;
  margin-top: 23px;
  margin-bottom: 23px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  outline: none;
}

.footer-phone:hover {
  color: #756257;
  cursor: pointer;
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-logo-link {
  display: flex;
  margin-left: 213px;
  margin-top: 23px;
  margin-bottom: 23px;
  padding: 20px;
  outline: none;
}

.footer-logo-link:hover {
  fill: #756257;
  cursor: pointer;
}

.footer-logo-link:focus {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-logo-link:active .footer-logo {
  fill: #756257;
  opacity: 0.3;
}

.img-welcome {
  display: block;
  width: 1200px;
  height: 485px;

  background-image: url("../imges/jpeg/background-main-sedona1.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  background-color: #81b3d3;
}

.newsletter {
  display: block;
  width: 1200px;
  min-height: 411px;
  padding-top: 94px;
  box-sizing: border-box;
  color: #ffffff;

  background-image: url("../imges/jpeg/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d3;
}

.background-catalog {
  display: block;
  width: 1200px;
  min-height: 408px;
  background-image: url("../imges/jpeg/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d3;
  color: #ffffff;
}

.advantages-list li:nth-child(1),
.advantages-list li:nth-child(5) {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-list li:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.inner-header-title {
  width: 528px;
  padding-top: 38px;
  margin-top: 0;
  margin-left: 72px;
  margin-bottom: 0;

  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

.crumbs-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 1060px;
  margin-left: 67px;
  margin-top: 0;
  margin-bottom: 43px;
  list-style-type: none;
}

.crumbs-item {
  position: relative;
  margin-right: 9px;
}

.crumbs-item::before {
  position: absolute;
  content: "";
  left: -7px;
  top: 11px;
  background-image: url("../imges/svg/nav-link.svg");
  width: 5px;
  height: 8px;
}

.crumbs-item:first-child::before {
  content: none;
}

.crumbs-link {
  display: flex;
  align-items: center;
  min-width: 12px;
  min-height: 12px;
  padding: 8px;

  font-size: 16px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  outline: none;
}

.crumbs-link-icon {
  fill: #ffffff;
}

.crumbs-link:hover {
  fill: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}

.crumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.crumbs-link:active {
  fill: #ffffff;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  padding-top: 0;
  padding-right: 72px;
  padding-bottom: 70px;
  padding-left: 72px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-price-title {
  margin-bottom: 35px;
}

.catalog-infrastructure-item,
.type-house-item {
  margin-bottom: 13px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-infrastructure {
  margin-right: 67px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 11px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(-49deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 6px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(45deg);
}

.catalog-type-house {
  margin-right: 169px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"] + .control-mark:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"] + .control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-mark:hover {
  cursor: pointer;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-filter-price {
  margin-right: 81px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  width: 287px;
}

.input-min-price {
  border-radius: 4px 0 0 4px;
}

.input-min-price,
.input-max-price {
  box-sizing: border-box;
  width: 90px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  outline: none;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: none;
  background-color: transparent;
  appearance: textfield;
}

.label-min-price,
.label-max-price {
  box-sizing: border-box;
  padding: 10px;
  padding-right: 5px;
  width: 53px;
  min-height: 44px;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);

  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.label-max-price {
  border-right: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  padding-right: 10px;
}

.input-min-price:hover,
.input-max-price:hover {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 #b4babd, inset 2px 2px 0 0 #b4babd;
}

.input-min-price:hover + .label-min-price,
.input-max-price:hover + .label-max-price {
  cursor: pointer;
  box-shadow: inset -2px -2px 0 0 #b4babd, inset 0 2px 0 0 #b4babd;
}

.input-min-price:focus,
.input-max-price:focus {
  box-shadow: inset 0 -2px 0 0 #81b3d2, inset 2px 2px 0 0 #81b3d2, -2px 0 0 0 #81b3d2, 0 -2px 0 0 #81b3d2, 0 2px 0 0 #81b3d2;
}

.input-min-price:focus + .label-min-price,
.input-max-price:focus + .label-max-price {
  box-shadow: inset -2px 2px 0 0 #81b3d2, inset 0 -2px 0 0 #81b3d2, 0 -2px 0 0 #81b3d2, 0 2px 0 0 #81b3d2, 2px 0 0 0 #81b3d2;
}

.input-min-price:active,
.input-max-price:active {
  background-color: #756257;
  box-shadow: inset 0 -1px 0 0 #ffffff, inset 1px 1px 0 0 #ffffff;
}

.input-min-price:active + .label-min-price,
.input-max-price:active + .label-max-price {
  background-color: #756257;
  box-shadow: inset -1px -1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.input-min-price::-webkit-outer-spin-button,
.input-min-price::-webkit-inner-spin-button,
.input-max-price::-webkit-outer-spin-button,
.input-max-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  outline: none;
}

.range-toggle:hover {
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-infrastructure-list,
.type-house-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.control-input-checkbox,
.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.catalog-products-button {
  width: 160px;
  min-height: 48px;
  padding: 13px 20px;
  margin-bottom: 11px;

  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  outline: none;
}

.catalog-products-button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.catalog-products-button:focus {
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.catalog-products-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-products-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-height: 32px;
  padding: 10px;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  border: none;
  background-color: transparent;
  outline: none;
}

.catalog-products-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.catalog-products-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-products-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.sorting-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 71px;
  padding-left: 71px;
}

.sorting-container::after {
  position: absolute;
  right: 72px;
  bottom: 0;
  left: 72px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.catalog-title {
  width: 370px;
  margin-right: 159px;
  margin-top: 50px;
  margin-bottom: 45px;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  padding: 12px 19px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../imges/svg/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
  outline: none;
}

.select-control-pagination {
  width: 160px;
  height: 48px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.select-control-number {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.number-types-title {
  display: block;
  width: 183px;
  padding-top: 12px;
  margin-right: 47px;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}

.sorting-dropdown {
  position: absolute;
  fill: #000000;
  opacity: 0.6;
  top: 21px;
  right: 21px;
}

.select-control:hover {
  outline: 2px solid #83b3d3;
  cursor: pointer;
}

.select-control:focus {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.select-control:active {
  color: #e6e6e6;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  margin-top: 44px;
  margin-bottom: 35px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.sorting-display {
  width: 48px;
  height: 48px;
  margin-bottom: 7px;
}

.sorting-display-link {
  display: flex;
  width: 16px;
  height: 14px;
  padding: 15px 14px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
}

.sorting-display-icon {
  fill: #000000;
}

.sorting-display-current {
  border: 2px solid #000000;
}

.sorting-display-link:hover {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
  cursor: pointer;
}

.sorting-display-link:focus {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.hotel-list {
  width: 1056px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0 72px;
  list-style-type: none;
}

.hotel-cart {
  display: grid;
  grid-template-columns: 208px 151px 160px 1fr;
  grid-template-rows: min-content min-content 1fr;
  column-gap: 8px;
  padding-top: 31px;
  padding-bottom: 30px;
  box-shadow: 0 1px 0 0 #e6e6e6;
}

.hotel-cart-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.hotel-cart-link {
  display: block;
  width: fit-content;
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  color: #000000;
  text-decoration: none;

  outline: none;
}

.hotel-cart-link:hover {
  color: #756257;
  cursor: pointer;
}

.hotel-cart-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.hotel-cart-link:active {
  color: #756257;
  opacity: 0.3;
}

.hotel-image-link {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 180px;
  height: 120px;
  outline: none;
}

.hotel-image-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.hotel-image-link:focus .hotel-cart-image {
  outline: 3px solid #83b3d3;
}

.hotel-image-link:active {
  opacity: 0.3;
}

.hotel-cart-meaning,
.hotel-cart-price {
  text-align: center;
  justify-self: start;

  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}

.hotel-cart-meaning {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hotel-cart-price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.hotel-details-link {
  display: block;
  box-sizing: border-box;
  padding: 8px 30px;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #756257;
  outline: none;
}

.hotel-details-link:hover {
  background-color: #615048;
  cursor: pointer;
}

.hotel-details-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.hotel-details-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-bottom-favourites {
  box-sizing: border-box;
  padding: 8px 20px;
  margin: 0;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  align-self: end;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  outline: none;
}

.hotel-bottom-green {
  background-color: #7db54f;
}

.hotel-bottom-favourites:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  cursor: pointer;
}

.hotel-bottom-favourites:focus {
  outline: 3px solid #756257;
}

.hotel-bottom-favourites:active {
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-bottom-green:hover {
  background-color: #6c9e42;
  outline: 1px solid #756257;
  cursor: pointer;
}

.hotel-bottom-green:focus {
  outline: 3px solid #756257;
}

.hotel-bottom-green:active {
  outline: 1px solid #756257;
}

.hotel-stars {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;
}

.hotel-stars::before {
  position: absolute;
  content: "";
  right: 35px;
  bottom: -8px;
  width: 91px;
  height: 17px;
  background-size: 91px 17px;
  background-repeat: no-repeat;
}

.hotel-stars-amara::before {
  background-image: url("../imges/svg/stars-4.svg");
}

.hotel-stars-desert::before {
  background-image: url("../imges/svg/stars-3.svg");
}

.hotel-stars-villas::before {
  background-image: url("../imges/svg/stars-2.svg");
}

.hotel-stars-greentree::before {
  background-image: url("../imges/svg/stars-2.svg");
}

.hotel-cart-rating {
  padding: 8px 33px;
  margin: 0;
  box-sizing: border-box;
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  justify-self: end;
  align-self: end;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-show-more {
  display: block;
  width: 625px;
  min-height: 55px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 61px;
  margin-right: auto;
  margin-left: auto;

  border: none;
  outline: none;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.pagination-show-more:focus {
  outline: 3px solid #756257;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-show-more,
.pagination-link {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 5px;
}

.pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 72px;
  padding-left: 72px;
  margin-bottom: 80px;
}

.pagination-container::before {
  position: absolute;
  right: 72px;
  top: -31px;
  left: 72px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 385px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;

  text-decoration: none;
  outline: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.number-of-types {
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
}

.newsletter-tiile-catalog {
  width: 720px;
  margin-top: 0;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-tiile {
  width: 720px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-text {
  width: 720px;
  margin-top: 0;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin-top: 0;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form-catalog {
  display: flex;
  width: 800px;
  margin-top: 0;
  margin-bottom: 137px;
  margin-left: auto;
  margin-right: auto;
}

.popover {
  position: absolute;
  z-index: 1;
  top: 62px;
  right: -183px;

  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 233px;
  padding: 0;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15), inset 1px 1px 0 0 #e6e6e6, inset -1px -1px 0 0 #e6e6e6;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
}

.popover-favorites {
  display: none;
}

.popover-open {
  display: flex;
}

.popover::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: -9px;
  right: 192px;

  width: 20px;
  height: 10px;

  background-image: url("../imges/svg/popover/popover-triangle.svg");
  background-repeat: no-repeat;
}

.popover-favorites-list {
  padding: 15px;
  margin: 0;
  list-style-type: none;
}

.popover-favorites-item {
  display: flex;
}

.popover-grid {
  display: grid;
  grid-template-columns: 10px 48px 17px 1fr 10px;
  grid-template-rows: 10px auto auto 10px;
}

.popover-grid:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popover-grid:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;
}

.popover-grid:active {
  opacity: 0.3;
}

.popover-favorites-item + .popover-favorites-item {
  margin-top: 5px;
}

.popover-grid-link {
  text-decoration: none;
  color: #000000;
}

.popover-favorites-title {
  display: block;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.popover-favorites-image {
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border-radius: 50%;
}

.popover-favorites-text {
  grid-column: 4 / 5;
  grid-row: 3 / 4;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.popover-favorites-delete {
  width: 36px;
  height: 36px;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 22px;
  margin-left: auto;

  border: none;
  background-color: transparent;
}

.popover-favorites-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.popover-favorites-delete:hover .popover-favorites-icon {
  cursor: pointer;
  fill: #000000;
}

.popover-favorites-delete:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;
}

.popover-favorites-delete:focus .popover-favorites-icon {
  fill: #000000;
}

.popover-favorites-delete:active .popover-favorites-icon {
  fill: rgba(0, 0, 0, 0.1);
}

.popover-favorites-button {
  display: block;
  box-sizing: border-box;
  width: 400px;
  min-height: 60px;
  padding: 20px;
  margin-top: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
  border-radius: 0 0 20px 20px;
}

.popover-favorites-button:hover {
  background-color: #615048;
  cursor: pointer;
}

.popover-favorites-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
  border-radius: 0 0 20px 20px;
}

.popover-favorites-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-search-container {
  display: none;
}

.modal-search-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 58px;
  padding-bottom: 72px;
  box-sizing: border-box;
  width: 715px;
  min-height: 561px;

  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 20px;
  top: 52px;
  right: 70px;
  width: 53px;
  height: 53px;

  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
}

.modal-close-icon {
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active .modal-close-icon {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-date {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-label {
  margin: 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.modal-text {
  padding-top: 5px;
  margin: 0;
  margin-left: 155px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.modal-people-container {
  display: flex;
  justify-content: space-between;
}

.modal-label-people {
  margin-right: 74px;
}

.modal-people {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 19px;
  outline: none;
}

.modal-info-icon {
  fill: #83b3d3;
}

.modal-info-icon:hover {
  cursor: pointer;
  fill: #68a2ca;
}

.info:focus .modal-info-icon {
  outline: 2px solid #756257;
  outline-offset: -1px;
  border-radius: 50%;
}

.popover-modal-info {
  position: absolute;
  top: 393px;
  right: 106px;
  width: 256px;

  box-sizing: border-box;
  min-height: 143px;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 22px;

  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.popover-modal-open {
  display: block;
}

.popover-modal-info::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: -9px;
  right: 0;
  left: 0;

  width: 19px;
  height: 19px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../imges/svg/modal/modal-popover.svg");
  background-repeat: no-repeat;
}

.popover-modal-text {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.modal-input-arrival,
.modal-input-departure {
  box-sizing: border-box;
  width: 420px;
  height: 50px;
  padding: 18px 19px;

  font-size: 17px;
  line-height: 40px;
  font-weight: 700;

  background-image: url("../imges/svg/modal/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: top 17px right 20px;

  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
}

.modal-input-arrival:hover,
.modal-input-departure:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-input-arrival:focus,
.modal-input-departure:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-input-arrival:active,
.modal-input-departure:active {
  outline: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.container-number {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 133px;
  min-height: 50px;
  padding: 5px 12px;

  text-align: center;

  border-radius: 4px;
  background-color: #f2f2f2;
}

.modal-input-people,
.modal-input-child {
  box-sizing: border-box;
  width: 59px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  border: none;
  background-color: transparent;
  outline: none;
}

.modal-people-minus,
.modal-people-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: none;
  margin: 0;
  background-color: transparent;
}

.modal-minus-icon,
.modal-plus-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-people-minus:hover .modal-minus-icon,
.modal-people-plus:hover .modal-plus-icon {
  cursor: pointer;
  fill: #000000;
}

.modal-people-minus:focus .modal-minus-icon,
.modal-people-plus:focus .modal-plus-icon {
  fill: #000000;
}

.modal-people-minus:focus,
.modal-people-plus:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.modal-people-minus:active .modal-minus-icon,
.modal-people-plus:active .modal-plus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.modal-button-link {
  display: block;
  box-sizing: border-box;
  width: 575px;
  min-height: 60px;
  padding: 10px;
  margin-top: 40px;

  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 10px;
  border: none;
}

.modal-button-link:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.modal-button-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.modal-button-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.error-modal-search {
  color: #ff5757;
}

.error {
  outline: 2px solid #ff5757;
}

